###########
# Filetypes
###########
*.log
*.asv
*.vscode

#########
# Folders
#########
.vs/
_compiledPlugins
**/Builds
**/JuceLibraryCode
build/
src
VST
VST3
LV2
AAX
Standalone
fftw
JUCE/

#############
# macOS Stuff
#############
.DS_Store
